<h1>Merk</h1>

<table class="table css-serial table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Merk</th>
      <th colspan="3">Pilihan</th>
    </tr>
  </thead>

  <tbody>
    <% @merks.each do |merk| %>
      <tr>
        <td></td>
        <td><%= merk.nama %></td>
        <td><%= link_to '', merk, :class=> "glyphicon glyphicon-eye-open" %> | <%= link_to '', edit_merk_path(merk), :class=> "glyphicon glyphicon-edit" %> | <%= link_to '', merk, :class=> "glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Hapus Data Ini?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Tambah Merk', new_merk_path, class: "btn btn-primary" %>
