<%= form_for(@kategori) do |f| %>
  <% if @kategori.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kategori.errors.count, "error") %> prohibited this kategori from being saved:</h2>

      <ul>
      <% @kategori.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <div class="field">
      <%= f.label :nama %>
      <%= f.text_field :nama, class: 'form-control'%>
    </div><br>
    <div class="actions">
      <%= f.submit "simpan", class: 'btn btn-primary'%>
      <%= link_to 'kembali', kategoris_path, class: 'btn btn-primary'%> 
    </div>
    <% end %>
